* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4d4b57;
  font-family: "Inter", sans-serif;
  color: #1f1f2f;
}

a {
  color: inherit;
}

.route-section {
  width: 100%;
}

.page-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}



