# PlatformIO + ESP32
.pio/
.piopm/
.pioenvs/
.piolibdeps/
*.piopm
build/
*.bin
*.elf
*.hex
*.map
*.a
*.o

# VS Code – tránh lỗi khóa Windows mãi mãi
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS / Windows
.DS_Store
Thumbs.db
